@using System.Net.Http.Headers

@inject IHttpService http

@if (loading)
{
    <button class="@Class" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
    </button>
}
else
{
    <label class="@Class">
        @Label
        <InputFile OnChange="@OnInputFileChange" accept="@accept" multiple
            class="invisible" style="width: 0; height: 0;" />
    </label>
}

@code
{
    [Parameter]
    public EventCallback<UploadModel> OnUploaded { get; set; }

    [Parameter] public string? LocationId { get; set; }
    [Parameter] public string? StuffId { get; set; }
    [Parameter] public string? EventId { get; set; }
    
    [Parameter] public string Label { get; set; } = "Upload files";
    [Parameter] public string Class { get; set; } = "btn btn-primary";
    [Parameter] public bool ImageOnly { get; set; } = false;

    string accept => ImageOnly ? "image/*" : "*";

    private bool loading;

    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        loading = true;

        foreach (var file in e.GetMultipleFiles())
        {
            var fileContent = new StreamContent(file.OpenReadStream(Settings.MaxUploadSize));
            fileContent.Headers.ContentType = new MediaTypeHeaderValue(file.ContentType);

            using var content = new MultipartFormDataContent();
            content.Add(fileContent, "file", file.Name);
            
            if (LocationId != null)
                content.Add(new StringContent(LocationId), nameof(LocationId));

            if (StuffId != null)
                content.Add(new StringContent(StuffId), nameof(StuffId));

            if (EventId != null)
                content.Add(new StringContent(EventId), nameof(EventId));

            var route = ImageOnly ? ApiRoutes.UploadImage : ApiRoutes.Uploads;
            var request = new HttpRequestMessage(HttpMethod.Post, route);
            request.Content = content;

            var response = await http.SendAsync(request);
            var model = await response.Content.ReadFromJsonAsync<UploadModel>();

            await OnUploaded.InvokeAsync(model);
        }

        loading = false;
    }
}
