.autocomplete {
    height: 0;
    position: absolute;
    width: 100%;
    z-index: 9999;
}

.autocomplete .list-group-item {
    border-top: 0;
}

.autocomplete .list-group-item:not(:last-child) {
    border-bottom: 0;
}