@inject IHttpService http

<input @bind-value="stuffName" @bind-value:event="oninput" @onfocus ="() => OnStuffFocus()"  @onblur ="() => OnStuffBlur()"
    class="form-control" placeholder="Stuff" disable="@Loading" autocomplete="off" />
<label>Stuff</label>
@if (showStuffs)
{
    <div class="autocomplete list-group">
        <button @onclick="() => OnStuffClick(null)" type="button" class="list-group-item list-group-item-action">
            <em class="text-muted">none</em>
        </button>
        @foreach(var item in stuffs.OrEmpty())
        {
            <button @onclick="() => OnStuffClick(item)" type="button" class="list-group-item list-group-item-action">
                @item.Name
            </button>
        }
        @if (stuffName != stuff?.Name)
        {
            <button @onclick="OnStuffCreate" type="button" class="list-group-item list-group-item-action">
                <em class="text-muted">Add Stuff @(string.IsNullOrEmpty(stuffName) ? "" : $"\"{stuffName}\"")</em>
            </button>
        }
    </div>
}

<StuffCreateModal @ref="create" OnCreated="OnStuffCreated" />

@code
{
    [Parameter] public string? Value { get; set; }
    [Parameter] public EventCallback<string?> ValueChanged { get; set; }
    [Parameter] public bool Loading { get; set; }

    List<StuffListItem>? stuffs { get; set; }
    IStuffModel? stuff { get; set; }
    string? stuffName { get; set; }
    bool showStuffs { get; set; } = false;

    StuffCreateModal? create;

    protected override async Task OnInitializedAsync() 
    {
        stuffs = await http.GetAsync<List<StuffListItem>>(ApiRoutes.StuffLookup);
        stuff = stuffs?.FirstOrDefault(x => x.Id == Value);
        stuffName = stuff?.Name;
    }        

    void OnStuffFocus()
    {
        showStuffs = true;
    }

    async Task OnStuffBlur()
    {
        await Task.Delay(100);
        showStuffs = false;
        stuffName = stuff?.Name;
    }

    async Task OnStuffClick(IStuffModel? model)
    {
        Value = model?.Id;
        if (ValueChanged.HasDelegate)
            await ValueChanged.InvokeAsync(model?.Id);

        stuff = model;
        stuffName = stuff?.Name;
        showStuffs = false;
    }


    void OnStuffCreate()
    {
        showStuffs = false;
        create?.Open(stuffName);
    }

    async Task OnStuffCreated(StuffModel model)
    {
        await OnStuffClick(model);
        stuffs = await http.GetAsync<List<StuffListItem>>(ApiRoutes.StuffLookup);
    }
}