@using Destuff.Client.Pages.Uploads

@if (Items != null)
{
    <div class="row row-cols-2 row-cols-md-6 g-2">
        @foreach(var item in Items)
        {
            <div class="col">
                <div class="card">
                    <a href="@item.Url" target="_blank">
                        <img src="@item.Url" class="card-img-top" alt="@item.FileName">
                    </a>
                    <button @onclick="() => delete?.Open(item)"
                        class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                        <span class="visually-hidden btn-close">Remove image</span>
                    </button>
                </div>
            </div>
        }
    </div>
}

<DeleteModal @ref="delete" OnDeleted="OnDeleted" />

@code
{
    [Parameter]
    public List<UploadModel>? Items { get; set; }

    DeleteModal? delete;

    void OnDeleted(UploadModel upload)
    {
        Items?.Remove(upload);
    }
}