@page "/l/{Slug}"

@using Destuff.Shared.Models

@inject IHttpService http

@if (model != null)
{
    <div class="text-end">
        <a
            href="/locations"
            class="btn btn-outline-secondary btn-sm"
        >
            Locations
        </a>
        <button
            @onclick="() => {}"
            type="button" class="btn btn-outline-primary btn-sm"
        >
            Edit
        </button>
        <button
            @onclick="() => {}"
            type="button" class="btn btn-outline-danger btn-sm"
            disabled="@model.Children?.Any()"
        >
            Delete
        </button>
    </div>

    <h1>@model.Name</h1>

    <div>@model.Notes</div>

    <TreeLinks Items="tree" />
}

@code {
    [Parameter]
    public string? Slug { get; set; }
    
    LocationModel? model { get; set; }
    
    List<LocationTreeModel>? tree { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        model = await http.GetAsync<LocationModel>($"{ApiRoutes.LocationSlug}/{Slug}");
        var item = await http.GetAsync<LocationTreeModel>($"{ApiRoutes.LocationTree}/{model?.Id}");
        tree = new List<LocationTreeModel> { item! };
    }

}