@page "/locations"

@* @using Excubo.Blazor.TreeViews *@
@using Destuff.Shared.Models

@inject IHttpService http

<PageTitle>Locations</PageTitle>

<h1>Locations</h1>

<div class="text-end">
    <button @onclick="() => create?.Open()" type="button" class="btn btn-sm btn-primary">Add</button>
</div>

<div class="d-flex">
    <div class="flex-grow-1">
        <TreeView
            Items="items"
            Selected="selected"
            OnSelected="item => selected = item"
        />
    </div>
    <div class="pt-2">
        <DetailsCard 
            Model="selected"
            OnChildAdd="model => create?.Open(model)"
            OnEdit="model => update?.Open(model)"
            OnDelete="model => {}"
            OnClose="() => selected = null"
        />
    </div>
</div>

<CreateModal @ref="create" OnCreated="LoadData" />
<UpdateModal @ref="update" OnUpdated="LoadData" />

@code
{
    CreateModal? create;
    UpdateModal? update;

    List<LocationModel>? items { get; set; }
    LocationModel? selected { get; set; }

    protected override Task OnInitializedAsync()
    {
        return LoadData();
    }

    async Task LoadData(LocationModel? model = null)
    {
        var result = await http.GetAsync<List<LocationModel>>(ApiRoutes.Locations);
        items = result;
        selected = model;
    }
}