@page "/users"

@using BlazorGrid.Abstractions
@using BlazorGrid.Components
@using System.Threading

@inject IHttpService http

<h1>Users</h1>

<p>This component demonstrates fetching data from the server. @edit!.UserName</p>

<div style="height: 400px;">
    <BlazorGrid TRow="UserModel" Provider="LoadData">
        <GridCol For="() => context.UserName" Caption="UserName" />
        <StaticGridCol FitToContent="true">
            <button @onclick="() => Edit(context)" class="btn btn-link py-0">Edit</button>
            @* <button @onclick="() => Delete(context)" class="btn btn-sm btn-danger">Delete</button> *@
        </StaticGridCol>            
    </BlazorGrid>
</div>

<EditModal @ref="edit" />

@code
{
    EditModal? edit { get; set; } = new EditModal();

    private async ValueTask<BlazorGridResult<UserModel>?> LoadData(BlazorGridRequest request, CancellationToken _)
    {
        return await http.PostAsync<BlazorGridResult<UserModel>>(ApiRoutes.AuthUsers, request);
    }

    private async Task Edit(UserModel model)
    {
        edit!.UserName = model.UserName;
        edit!.Open();
        await Task.CompletedTask;
    }

    private async Task Delete(UserModel model)
    {
        await Task.CompletedTask;
    }
}