body {
}

.vh-100 {
    height: 100vh;
}

.w-100 {
    width: 100%;
}

.w-160p {
    width: 160px;
}

.lh-100 {
    line-height: 1em;
}

.text-nowrap {
    white-space: nowrap !important;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



#blazor-error-ui {
    color: #444;

    a {
        color: var(--mud-palette-primary);
    }
}
