body {
}

.vh-100 {
    height: 100vh;
}

.w-100 {
    width: 100%;
}

.lh-100 {
    line-height: 1em;
}

#blazor-error-ui {
    color: #444;

    a {
        color: var(--mud-palette-primary);
    }
}
