body {
}

dl {
    @media (min-width: 600px) {
        display: flex;

        > dt {
            flex: none;
            width: 160px;
        }
    }
}

.vh-100 {
    height: 100vh;
}

.w-100 {
    width: 100%;
}

.lh-100 {
    line-height: 1em;
}

.text-nowrap {
    white-space: nowrap !important;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#blazor-error-ui {
    color: #444;

    a {
        color: var(--mud-palette-primary);
    }
}
