@inherits LayoutComponentBase

<MudThemeProvider Theme="theme" />

<main>@Body</main>

@code {
    MudTheme theme = new MudTheme() {
        Typography = new Typography() {
            H1 = new() { FontWeight = 100, FontSize = "48px" },
            H3 = new() { FontWeight = 100 },
            H6 = new() { FontWeight = 100 },
        }
    };

}