@using Destuff.Client.Shared.Components
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <LogoutLink />
        </div>

        <article class="content px-4">
            <CascadingValue Value="@Toast">
                @Body
            </CascadingValue>
        </article>
    </main>
</div>

<Toast @ref="Toast" />

@code
{
    private Toast? Toast { get; set; }
}