<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link @GetClass(StuffTabs.Details)" href="@GetLink(StuffTabs.Details)">Details</a>
  </li>
  <li class="nav-item">
    <a class="nav-link @GetClass(StuffTabs.Locations)" href="@GetLink(StuffTabs.Locations)">Locations</a>
  </li>
</ul>

@code
{
    [Parameter] public string? Tab { get; set; }
    [Parameter] public string? BasePath { get; set; }

    string GetClass(string? path) => path == Tab ? "active" : "";
    string? GetLink(string? tab = null) => BasePath + (tab == null ? "" : $"/{tab}");
}